<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="data:">
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ $props.title }}</title>
  @vite(['resources/js/app.js'])
</head>
<body>
  <header>
    <nav up-nav>
      <ul>
        @!menuLink({href: route('home'), label: 'Home'})
        @if(auth.isAuthenticated)
          @!menuLink({href: route('emails.index'), label: 'Email addresses'})
          @!menuLink({
            href: route('emails.create'),
            label: 'Create an email address',
            'up-layer': 'new modal',
            'up-accept-location': route('emails.index'),
            'up-on-accepted': "up.reload('main')"
          })
          @if(auth.user.isAdmin())
            @!menuLink({href: route('permissions.list'), label: 'User permissions'})
          @end
        @end
      </ul>
      <ul>
        @if(!auth.isAuthenticated)
          @!menuLink({href: route('auth.register.show'), label: 'Register'})
          @!menuLink({href: route('auth.login.show'), label: 'Login'})
        @else
          <li>
            Hello
            [{{ await auth.user.load('role').then(() => auth.user.role.name) }}]
            {{ auth.user.email }}
          </li>
          <li>
            <form
              class="inline-form"
              method="post"
              action="{{ route('auth.logout') }}?_method=DELETE"
              up-target="body"
              up-submit
              up-disable
            >
              {{ csrfField() }}
              <button type="submit">Logout</button>
            </form>
          </li>
        @end
      </ul>
    </nav>
  </header>
  <hr>
  <main up-main>
    <div up-flashes style="display:none" hidden aria-hidden="true">
        @error('error')
          <div class="toastKeeper error">{{ $message }}</div>
        @end
        @error('E_BAD_CSRF_TOKEN')
          <div class="toastKeeper error">{{ $message }}</div>
        @end
        @error('E_INVALID_CREDENTIALS')
          <div class="toastKeeper error">{{ $message }}</div>
        @end
        @error('E_VALIDATION_ERROR')
          <div class="toastKeeper error">{{ $message }}</div>
        @end
        @flashMessage('success')
          <div class="toastKeeper success">{{ $message }}</div>
        @end
    </div>
    {{{ await $slots.main() }}}
  </main>
</body>
</html>